numpy~=1.23.5
torch==1.13.1
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.14.1
torchaudio==0.13.1
cuda-python==12.1.0
openai_whisper==20230124
psutil~=5.9.4
PyAudio~=0.2.13
pyttsx3~=2.90
future~=0.18.3
winapps~=0.2.0
PySimpleGUI~=4.60.4
screeninfo~=0.8.1
pytest~=7.2.2
pytest-mock~=3.10.0
keyboard~=0.13.5
ffmpeg~=1.4.0